html {
    font-size: 16px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: black;
    height: 12vh;
    display: flex;
    align-items: center;
    padding: 0;
    font-size: 1.3rem;
    justify-content: space-between;
    padding: 0 100px 0 100px;
}

.header p {
    color: white;
    font-size: 1.5rem;
}

.header p:hover {
    text-decoration: underline;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
}

span {
    color: white;
    font-size: 3rem;
    margin-right: 6px;
    margin-left: 6px;
}

.user {
    display: flex;
    align-items: center;
    padding: 0;
    gap: 15px;
}

button {
    font-size: 1.5rem;
    color: white;
    border-radius: 8px;
    padding: 10px;
}

#submit {
    background-color: black;
    padding-left: 16px;
    padding-right: 16px;
    border: solid 1px;
    border-color: #fff;
}

#signin {
    background-color: #4C5FD5;
    padding-left: 30px;
    padding-right: 30px;
    border-color: #4C5FD5;
}

.help {
    height: 42vh;
    background-color: #dadbf1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.question {
    font-size: 3.5rem;
    color: black;
    height: 65px;
    margin-bottom: 20px;
}

.question p {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

input {
    width: 550px;
    height: 60px;
    border: solid 1px black;
    border-radius: 5px;
    font-size: 1rem;
    color: grey;
    padding: 0 12px 0 12px;
    border-radius: 5px;
}

.search {
    display: flex;
    align-items: center;
}

.search svg {
    transform: translateY(-50%);
    fill: #000000;
    position: absolute;
    right: 460px;
    bottom: 400px;
    width: 28px;
    z-index: 100;
    transition: all .3s;
}

.search svg:hover {
    fill: #4C5FD5;
}

.main {
    height: 100vh;
    background-color: #fff;
    display: flex;
}

.container {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 150px;
    padding-bottom: 100px;
}

.article {
    display: flex;
    width: 75%;
    align-items: flex-start;
    height: calc(100% / 3);
    margin: 20px 0 20px 0;
}

.article-main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

.article-logo {
    max-height: 120px;
    margin-right: 30px;
    padding-top: 20px;
}

.article-logo img {
    height: 80px;
}

.link {
    text-decoration: none;
}

.footer {
    height: 40vh;
    background-color: black;
}